<app-menu></app-menu>
<div class="container mt-5">
  <h2>Create New Task</h2>
  <form id="taskForm">

      <div class="mb-3">
          <label for="taskTitle" class="form-label">Task Title:</label>
          <input type="input" class="form-control" id="title" [(ngModel)]="title" placeholder="Title" name="title" required>
      </div>

      <div class="mb-3">
          <label for="taskDescription" class="form-label">Description:</label>
          <textarea class="form-control" id="taskDescription" [(ngModel)]="description" name="description" rows="4"></textarea>
      </div>

      <div class="mb-3">
          <label for="dueDate" class="form-label">Due Date:</label>
          <input type="date" class="form-control" id="duedate" name="duedate" [(ngModel)]="duedate">
      </div>

      <div class="mb-3">
        <label for="priority" class="form-label">Priority:</label>
        <select class="form-select" id="priority" name="priority" [(ngModel)]="priority">
            <option value=low >low</option>
            <option value=medium>medium</option>
            <option value=high>high</option>
        </select>
    </div>

      <div class="mb-3">
          <label for="status" class="form-label">Status:</label>
          <select class="form-select" id="status" name="completed" [(ngModel)]="completed">
              <option value=0>0</option>
              <option value=1>1</option>
          </select>
      </div>

      <button type="submit" class="btn btn-primary" (click)="createtask()">Create Task</button>
  </form>
</div>
